---
http_interactions:
- request:
    method: post
    uri: https://www.assessmentcenter.net/AC_API/2018-10/Questionnaire/96FE494D-F176-4EFB-A473-2AB406610626/next-q
    body:
      encoding: UTF-8
      string: '{"contained":[{"id":"96FE494D-F176-4EFB-A473-2AB406610626","meta":{"profile":["http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-adapt"]},"resourceType":"Questionnaire","status":"active","subjectType":["Patient"]}],"id":"questResp-2dadee5a-61dd-45a7-8cf3-8da61661c0be","meta":{"profile":["http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaireresponse-adapt"]},"resourceType":"QuestionnaireResponse","status":"in-progress"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"resourceType\": \"QuestionnaireResponse\",\"id\": \"96FE494D-F176-4EFB-A473-2AB406610626\",\r\n\"meta\":
        {\"profile\":[\"http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaireresponse-adapt\"]},\r\n\"extension\":
        [\r\n{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-expirationTime\",\"valueDate\":\"2019-06-21T16:40:16\"},\r\n{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-finishedTime\",\"valueDate\":\"2019-06-18T16:40:16\"},\r\n{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-scores\",\r\n\"extension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-scores/theta\",\"valueDecimal\":0},{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-scores/standarderror\",\"valueDecimal\":9.9}]}],\r\n\"contained\":
        [{\"resourceType\":\"Questionnaire\",\r\n\"id\":\"96FE494D-F176-4EFB-A473-2AB406610626\",\r\n\"meta\":{\"versionId\":\"\",\"lastUpdated\":\"\",\"profile\":[\"http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-adapt\"]},\r\n\"url\":\"\",\r\n\"title\":\"\",\r\n\"status\":\"active\",\r\n\"date\":\"\",\r\n\"subjectType\":[\"Patient\"],\r\n\"item\":[\r\n\r\n{\"extension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder\",\"valueInteger\":1}],\r\n\"id\":\"EDDEP29\",\r\n\"linkId\":\"DEE2D9CA-0094-492A-AA25-D4D53D426976\",\r\n\"code\":[{\"system\":\"http://loinc.org\",
        \"code\":\"61967-6\", \"display\":\"In the past 7 daysI felt depressed\"}],\r\n\"type\":\"group\",\r\n\"item\":[{\"extension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder\",\"valueInteger\":1}],\r\n\"linkId\":\"8AB8BA58-3BB0-40B6-B656-C24F1169069B\",\r\n\"text\":\"In
        the past 7 days\",\r\n\"type\":\"display\"\r\n}\r\n,{\"extension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder\",\"valueInteger\":2}],\r\n\"linkId\":\"C24FEEED-B48C-4BD4-972B-5AB30A5A6353\",\r\n\"text\":\"I
        felt depressed\",\r\n\"type\":\"choice\"\r\n,\"answerOption\":[\r\n{\"id\":\"BF2FFE4B-53FA-45B7-8464-58A1E84B49DD\",\r\n\"extension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder\",\"valueInteger\":1}],\r\n\"modifierExtension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-optionScore\",\"valueString\":\"1\"}],\r\n\"valueCoding\":{\"system\":\"http://loinc.org\",
        \"code\":\"LA6270-8\", \"display\":\"Never\"},\r\n\"text\":\"Never\"}\r\n,\r\n{\"id\":\"D96D8FBD-C726-4D34-8C3C-2B4377C0438B\",\r\n\"extension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder\",\"valueInteger\":2}],\r\n\"modifierExtension\":[{\"url\":\"http://hl7.org/fhir/StructureDefinition/questionnaire-optionScore\",\"valueString\":\"2\"}],\r\n\"valueCoding\":{\"system\":\"http://loinc.org\",
        \"code\":\"LA10066-[...]
[...]
