---
http_interactions:
- request:
    method: post
    uri: https://www.assessmentcenter.net/AC_API/2018-10/Questionnaire/96FE494D-F176-4EFB-A473-2AB406610626/next-q
    body:
      encoding: UTF-8
      string: '{"contained":[{"id":"96FE494D-F176-4EFB-A473-2AB406610626","item":[{"code":[{"system":"http://loinc.org","code":"61974-2","display":"In
        the past 7 daysI felt ignored by people"}],"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":10}],"id":"EDDEP42","item":[{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":1}],"linkId":"8AB8BA58-3BB0-40B6-B656-C24F1169069B","text":"In
        the past 7 days","type":"display"},{"answerOption":[{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":1}],"id":"8F1340A3-F1F7-4796-A04B-F7C6513D6A2E","modifierExtension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-optionScore","valueString":"1"}],"text":"Never","valueCoding":{"system":"http://loinc.org","code":"LA6270-8","display":"Never"}},{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":2}],"id":"A7A62F67-35B4-4E56-BAC5-8BEC3258C491","modifierExtension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-optionScore","valueString":"2"}],"text":"Rarely","valueCoding":{"system":"http://loinc.org","code":"LA10066-1","display":"Rarely"}},{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/que[...]
