.ruby-gemset
.ruby-version

/.bundle
*/vendor/bundle
*/node_modules

*/serverless-output.yaml
*/.bash_history
*/.byebug_history

.env

*.tfvars
*.tfstate
*.tfstate.*
**/.terraform/*
crash.log

override.tf
override.tf.json

*_override.tf
*_override.tf.json

.tmp/
template.yaml

*.tfvars
*.tfstate
*.tfstate.*
**/.terraform/*
crash.log

override.tf
override.tf.json

*_override.tf
*_override.tf.json

/dist/**/*

*/dist/*

.DS_Store
