---
http_interactions:
- request:
    method: post
    uri: https://www.assessmentcenter.net/AC_API/2018-10/Questionnaire/154D0273-C3F6-4BCE-8885-3194D4CC4596/next-q
    body:
      encoding: UTF-8
      string: '{"contained":[{"id":"154D0273-C3F6-4BCE-8885-3194D4CC4596","item":[{"code":[{"system":"http://loinc.org","display":"In
        the past 7 daysHow much did pain interfere with your day to day activities?","code":"61758-9"}],"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":1}],"id":"PAININ9","item":[{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":1}],"linkId":"8AB8BA58-3BB0-40B6-B656-C24F1169069B","text":"In
        the past 7 days","type":"display"},{"answerOption":[{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":1}],"id":"DC8FFD51-702B-4E77-BEE6-E9A9EB9C088F","modifierExtension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-optionScore","valueString":"1"}],"text":"Not
        at all","valueCoding":{"system":"http://loinc.org","display":"Not at all","code":"LA6568-5"}},{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-displayOrder","valueInteger":2}],"id":"72A3573B-E0C3-4358-AF57-858F11A0ED49","modifierExtension":[{"url":"http://hl7.org/fhir/StructureDefinition/questionnaire-optionScore","valueString":"2"}],"text":"A
        little bit","valueCoding":{"system":"http://loinc.org","display":"A little
        bit","code":"LA13863-8"}},{"extension":[{"url":"http://hl7[...]
