---
http_interactions:
- request:
    method: get
    uri: https://www.assessmentcenter.net/ac_api/2014-01/Forms/97EF3938-4CDC-4192-B2E0-54D71EABC3DE.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"DateFinished":"","Items":[{"FormItemOID":"63723E78-7586-4501-9A4F-451167768FD9","ItemResponseOID":"","Response":"","ID":"PAININ11","Order":"1","ItemType":"","Elements":[{"ElementOID":"8AB8BA58-3BB0-40B6-B656-C24F1169069B","Description":"In
        the past 7 days","ElementOrder":"1"},{"ElementOID":"A90185C9-F766-4ABB-8C06-49726CD6C23C","Description":"How
        often did you feel emotionally tense because of your pain?","ElementOrder":"2"},{"ElementOID":"B8630087-5995-4B62-8BE1-55BDEA27A80A","Description":"ContainerForB8630087-5995-4B62-8BE1-55BDEA27A80A","ElementOrder":"3","Map":[{"ElementOID":"949D2A4E-3A2B-4CD6-BE45-33C56EA76813","Description":"Not
        at all","FormItemOID":"63723E78-7586-4501-9A4F-451167768FD9","ItemResponseOID":"D13F72D8-50AC-4134-A6C2-17A6B8F1F507","Value":"1","Position":"1"},{"ElementOID":"7C45E84C-87A5-410B-BF19-29D75531EFF4","Description":"A
        little bit","FormItemOID":"63723E78-7586-4501-9A4F-451167768FD9","ItemResponseOID":"DAFE88E1-F550-489D-8979-77494483F2C2","Value":"2","Position":"2"},{"ElementOID":"441EE176-E592-4B32-B5FE-83B738EB10BA","Description":"Somewhat","FormItemOID":"63723E78-7586-4501-9A4F-451167768FD9","ItemResponseOID":"4D2AC8D0-9E13-4E82-B26D-D0435CB86229","Value":"3","Position":"3"},{"ElementOID":"29BD9E0E-298C-4A51-99C3-48B9D4D25B07[...]
