---
http_interactions:
- request:
    method: post
    uri: https://www.assessmentcenter.net/ac_api/2014-01/StatelessParticipants/154D0273-C3F6-4BCE-8885-3194D4CC4596.json
    body:
      encoding: UTF-8
      string: PAININ9=Somewhat
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"EngineAssembly":"CORE.Engines", "EngineType":"CORE.Engines.CATEngineGRM_Configurable","Theta":"1.06082507699929",
        "StdError":"0.304172963588299","Items":[{"FormItemOID":"4022007D-41E8-4B28-8100-5A2D544DC699","ItemResponseOID":"","Response":"","ID":"PAININ31","Order":"21","ItemType":"","Elements":[{"ElementOID":"8AB8BA58-3BB0-40B6-B656-C24F1169069B","Description":"In
        the past 7 days","ElementOrder":"1"},{"ElementOID":"D7909665-A8AB-4C99-9C0B-2E3D67FA8D86","Description":"How
        much did pain interfere with your ability to participate in social activities?","ElementOrder":"2"},{"ElementOID":"B8630087-5995-4B62-8BE1-55BDEA27A80A","Description":"ContainerForB8630087-5995-4B62-8BE1-55BDEA27A80A","ElementOrder":"3","Map":[{"ElementOID":"949D2A4E-3A2B-4CD6-BE45-33C56EA76813","Description":"Not
        at all","FormItemOID":"4022007D-41E8-4B28-8100-5A2D544DC699","ItemResponseOID":"9CA3B52E-4F60-4D5B-B46A-BD08BE127736",
        "Value":"1","Position":"1"},{"ElementOID":"7C45E84C-87A5-410B-BF19-29D75531EFF4","Description":"A
        little bit","FormItemOID":"4022007D-41E8-4B28-8100-5A2D544DC699","ItemResponseOID":"9E961377-69F2-46C5-98BE-7BA97754BF81",
        "Value":"2","Position":"2"},{"ElementOID":"441EE176-E592-4B32-B5FE-83B738EB10BA","Description":"Somewhat","FormItemOID":"4022007D-41E8-4B28-8100-5A2D544DC699","ItemResponseOID":"494BAEAE-F208-432E-AC49-06BFAC808528",
        "Value":"3","Position":"3"},{"ElementOID":"29BD9E0E-298C-4A51-99C3-48B9D4D25B07","Description":"Quite
        a bit","FormItemOID":"4022007D-41E8-4B28-8100-5A2D544DC699","ItemResponseOID":"5BAE6820-BB98-40B4-9E5F-784988F7CA40",
        "Value":"4","Position":"4"},{"ElementOID":"74DC8842-078A-4DC6-B9C9-1656A8775657","Description":"Very
        much","FormItemOID":"4022007D-41E8-4B28-8100-5A2D544DC699","ItemResponseOID":"35DB71CD-42EB-4BCD-AA47-19A9885FD29C",
        "Value":"5","Position":"5"}]}]}]}'
  recorded_at: Thu, 23 May 2019 17:56:56 GMT
[...]
