parent-list-component {
  .parent-container {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    p {
      margin: 0 38px;
    }

    // iPhone 6+/7+/8+/X/Xs Mobile Web
    @media only screen and (max-height: 635px) {
      padding-bottom: 0;
    }

    // iPhone 6/7/8 Mobile Web
    @media only screen and (max-height: 560px) {
      padding-bottom: 0;
    }

    // iPhone SE Mobile Web
    @media only screen and (max-height: 470px) {
      padding-bottom: 0;
    }
  }
}
