---
http_interactions:
- request:
    method: post
    uri: https://www.assessmentcenter.net/ac_api/2014-01/StatelessParticipants/154D0273-C3F6-4BCE-8885-3194D4CC4596.json
    body:
      encoding: UTF-8
      string: PAININ31=Somewhat&PAININ36=Somewhat&PAININ9=Somewhat
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"EngineAssembly":"CORE.Engines", "EngineType":"CORE.Engines.CATEngineGRM_Configurable","Theta":"1.17558281671448",
        "StdError":"0.17652133739968","Items":[{"FormItemOID":"9374192B-2A92-48CA-A416-6E1DA1B151A5","ItemResponseOID":"","Response":"","ID":"PAININ22","Order":"17","ItemType":"","Elements":[{"ElementOID":"8AB8BA58-3BB0-40B6-B656-C24F1169069B","Description":"In
        the past 7 days","ElementOrder":"1"},{"ElementOID":"6346F812-00D3-4265-BB98-8D149F07C67D","Description":"How
        much did pain interfere with work around the home?","ElementOrder":"2"},{"ElementOID":"B8630087-5995-4B62-8BE1-55BDEA27A80A","Description":"ContainerForB8630087-5995-4B62-8BE1-55BDEA27A80A","ElementOrder":"3","Map":[{"ElementOID":"949D2A4E-3A2B-4CD6-BE45-33C56EA76813","Description":"Not
        at all","FormItemOID":"9374192B-2A92-48CA-A416-6E1DA1B151A5","ItemResponseOID":"C2915A7C-A5A3-40C0-ADF5-986D07EFE827",
        "Value":"1","Position":"1"},{"ElementOID":"7C45E84C-87A5-410B-BF19-29D75531EFF4","Description":"A
        little bit","FormItemOID":"9374192B-2A92-48CA-A416-6E1DA1B151A5","ItemResponseOID":"00ADE1C5-C940-44DF-8D30-F618D6073703",
        "Value":"2","Position":"2"},{"ElementOID":"441EE176-E592-4B32-B5FE-83B738EB10BA","Description":"Somewhat","FormItemOID":"9374192B-2A92-48CA-A416-6E1DA1B151A5","ItemResponseOID":"334FA961-771B-40F6-8F6B-177EDA3C763D",
        "Value":"3","Position":"3"},{"ElementOID":"29BD9E0E-298C-4A51-99C3-48B9D4D25B07","Description":"Quite
        a bit","FormItemOID":"9374192B-2A92-48CA-A416-6E1DA1B151A5","ItemResponseOID":"23EBA57D-7F2A-4319-A526-B454650BD655",
        "Value":"4","Position":"4"},{"ElementOID":"74DC8842-078A-4DC6-B9C9-1656A8775657","Description":"Very
        much","FormItemOID":"9374192B-2A92-48CA-A416-6E1DA1B151A5","ItemResponseOID":"17F78C22-EE12-47F0-88E7-294B151EAF6C",
        "Value":"5","Position":"5"}]}]}]}'
  recorded_at: Thu, 23 May 2019 17:57:07 GMT
recorded_with: VCR 4.0.0
