---
http_interactions:
- request:
    method: post
    uri: https://www.assessmentcenter.net/ac_api/2014-01/StatelessParticipants/154D0273-C3F6-4BCE-8885-3194D4CC4596.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"EngineAssembly":"CORE.Engines", "EngineType":"CORE.Engines.CATEngineGRM_Configurable","Theta":"0",
        "StdError":"9.9","Items":[{"FormItemOID":"C595E017-42B2-4093-9C3E-B338B22E4FE4","ItemResponseOID":"","Response":"","ID":"PAININ9","Order":"6","ItemType":"","Elements":[{"ElementOID":"8AB8BA58-3BB0-40B6-B656-C24F1169069B","Description":"In
        the past 7 days","ElementOrder":"1"},{"ElementOID":"5B10732E-3A51-438C-A437-B07E2CFBE71A","Description":"How
        much did pain interfere with your day to day activities?","ElementOrder":"2"},{"ElementOID":"B8630087-5995-4B62-8BE1-55BDEA27A80A","Description":"ContainerForB8630087-5995-4B62-8BE1-55BDEA27A80A","ElementOrder":"3","Map":[{"ElementOID":"949D2A4E-3A2B-4CD6-BE45-33C56EA76813","Description":"Not
        at all","FormItemOID":"C595E017-42B2-4093-9C3E-B338B22E4FE4","ItemResponseOID":"DC8FFD51-702B-4E77-BEE6-E9A9EB9C088F",
        "Value":"1","Position":"1"},{"ElementOID":"7C45E84C-87A5-410B-BF19-29D75531EFF4","Description":"A
        little bit","FormItemOID":"C595E017-42B2-4093-9C3E-B338B22E4FE4","ItemResponseOID":"72A3573B-E0C3-4358-AF57-858F11A0ED49",
        "Value":"2","Position":"2"},{"ElementOID":"441EE176-E592-4B32-B5FE-83B738EB10BA","Description":"Somewhat","FormItemOID":"C595E017-42B2-4093-9C3E-B338B22E4FE4","ItemResponseOID":"C31A3FCB-A380-444F-8579-62AA5DA11BA2",
        "Value":"3","Position":"3"},{"ElementOID":"29BD9E0E-298C-4A51-99C3-48B9D4D25B07","Description":"Quite
        a bit","FormItemOID":"C595E017-42B2-4093-9C3E-B338B22E4FE4","ItemResponseOID":"FCD65655-AA94-44B6-B944-2994D984A4E3",
        "Value":"4","Position":"4"},{"ElementOID":"74DC8842-078A-4DC6-B9C9-1656A8775657","Description":"Very
        much","FormItemOID":"C595E017-42B2-4093-9C3E-B338B22E4FE4","ItemResponseOID":"1F43076B-0B6B-4D91-8B3C-EF6E39F9CF18",
        "Value":"5","Position":"5"}]}]}]}'
  recorded_at: Thu, 23 May 2019 17:57:05 GMT
recorded_with: VCR 4.0.0
