---
http_interactions:
- request:
    method: post
    uri: https://www.assessmentcenter.net/ac_api/2014-01/StatelessParticipants/154D0273-C3F6-4BCE-8885-3194D4CC4596.json
    body:
      encoding: UTF-8
      string: PAININ22=Somewhat&PAININ31=Somewhat&PAININ36=Somewhat&PAININ9=Somewhat
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"EngineAssembly":"CORE.Engines", "EngineType":"CORE.Engines.CATEngineGRM_Configurable","Theta":"1.15470654687947",
        "StdError":"0.154971995251829","Items":[]}'
  recorded_at: Thu, 23 May 2019 17:57:07 GMT
recorded_with: VCR 4.0.0
